
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f7f7f7;
    margin: 40px;
    align-items: center;
    justify-items: center;
}
form{
    background: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0, 0, 0,0.1);
    max-width: 400px;
    
}
input,select{
    width:100%;
    padding: 8px;
    margin: 6px 0;
}
input[type=submit]{
    background: #4CAF50;
    color:white;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #45a049;
}
h1{
    color: #333;
    text-align: center;
}

button{
    background: #4CAF50;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
